<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
<!-- build:css styles/main.css -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">
<!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail" ng-src="{{dish.image}}" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                            <span class="label label-danger">{{dish.label}}</span>
                            <span class="badge">{{dish.price | currency}}</span>
                        </h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <p><strong>Customer Comments </strong>
                <span for="sortby"><small style="margin-left:20px"> &nbsp;Sort by:</small></span>
                <input id="sortby" type="text" ng-model="orderField">
                </p>
                <div class="row">
                    <ul class="list-unstyled">
                        <li ng-repeat="comment in dish.comments | orderBy:orderField">
                            <blockquote>
                                <p>{{comment.rating}} Stars</p>
                                <p>{{comment.comment}}</p>
                                <footer>{{comment.author}}, {{comment.date|date}}</footer>
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                    <div class="row">
                        <ul class="list-unstyled" ng-show="commentForm.$valid && !commentForm.$pristine">
                            <li>
                                <blockquote>
                                    <p>{{comment.rating}} Stars</p>
                                    <p>{{comment.comment}}</p>
                                    <footer>{{comment.author}}, {{comment.date|date}}</footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                <form class="form-horizontal" name="commentForm"
                        ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{'has-error': commentForm.author.$error.required && !commentForm.author.$pristine}">
                        <label class="col-sm-2 control-label" for="author">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="author" name="author" ng-model="comment.author" required>
                            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your Name is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                                for="rating">Number of Stars</label>
                        <div class="col-sm-10" name="rating">
                            <label class="radio-inline" for="stars1"><input type="radio" id="stars1" name="rating" type="" value="1" ng-model="comment.rating">1</label>
                            <label class="radio-inline" for="stars2"><input type="radio" id="stars2" name="rating" type="" value="2" ng-model="comment.rating">2</label>
                            <label class="radio-inline" for="stars3"><input type="radio" id="stars3" name="rating" type="" value="3" ng-model="comment.rating">3</label>
                            <label class="radio-inline" for="stars4"><input type="radio" id="stars4" name="rating" type="" value="4" ng-model="comment.rating">4</label>
                            <label class="radio-inline" for="stars5"><input type="radio" id="stars5" name="rating" type="" value="5" ng-model="comment.rating">5</label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': commentForm.comment.$error.required && !commentForm.comment.$pristine}">
                        <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="12" name="comment"
                                ng-model="comment.comment" required>
                            </textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your Comments are required</span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Post Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- build:js scripts/main.js -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
<!-- endbuild -->

</body>

</html>
