    <div class="container" ng-controller="IndexController">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div ng-if="!showDish">
                    <h3>{{message}}</h3>
                </div>
                <div class="media" ng-if="showDish">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                             ng-src="{{dish.image}}" alt="{{dish.name}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                            <span class="label label-danger">{{dish.label}}</span>
                            <span class="badge">{{dish.price}}</span>
                        </h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>This Month's Promotions</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div ng-if="!showPromotion">
                    <h3>{{promotionMessage}}</h3>
                </div>
                <div class="media" ng-if="showPromotion">
                    <div class="media-body">
                        <h2 class="media-heading">{{featuredPromotion.name}}
                            <span class="label label-danger">{{featuredPromotion.label}}</span>
                            <span class="badge">{{featuredPromotion.price}}</span>
                        </h2>
                        <p>{{featuredPromotion.description}}</p>
                    </div>
                    <div class="media-right media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail" ng-src="{{featuredPromotion.image}}" alt="{{featuredPromotion.name}}">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div ng-if="!showChef">
                    <h3>{{chefMessage}}</h3>
                </div>
                <div class="media" ng-if="showChef">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                             src="{{executiveChef.image}}" alt="{{executiveChef.name}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{executiveChef.name}}</h2>
                        <h4>{{executiveChef.designation}}</h4>
                        <p>{{executiveChef.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
