    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12" ng-if="!showDish">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showDish">
               <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail" ng-src="{{dish.image}}" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                            <span class="label label-danger">{{dish.label}}</span>
                            <span class="badge">{{dish.price | currency}}</span>
                        </h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <p><strong>Customer Comments </strong>
                <span for="sortby"><small style="margin-left:20px"> &nbsp;Sort by:</small></span>
                <input id="sortby" type="text" ng-model="orderField">
                </p>
                <div class="row">
                    <ul class="list-unstyled">
                        <li ng-repeat="comment in dish.comments | orderBy:orderField">
                            <blockquote>
                                <p>{{comment.rating}} Stars</p>
                                <p>{{comment.comment}}</p>
                                <footer>{{comment.author}}, {{comment.date|date}}</footer>
                            </blockquote>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                    <div class="row">
                        <ul class="list-unstyled" ng-show="commentForm.$valid && !commentForm.$pristine">
                            <li>
                                <blockquote>
                                    <p>{{mycomment.rating}} Stars</p>
                                    <p>{{mycomment.comment}}</p>
                                    <footer>{{mycomment.author}}, {{mycomment.date|date}}</footer>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                <form class="form-horizontal" name="commentForm"
                        ng-submit="submitComment()" novalidate>
                    <div class="form-group" ng-class="{'has-error': commentForm.author.$error.required && !commentForm.author.$pristine}">
                        <label class="col-sm-2 control-label" for="author">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="author" name="author" ng-model="mycomment.author" required>
                            <span ng-show="commentForm.author.$error.required && !commentForm.author.$pristine" class="help-block">Your Name is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                                for="rating">Number of Stars</label>
                        <div class="col-sm-10" name="rating">
                            <label class="radio-inline" ng-repeat="star in stars" for="stars{{star}}" >
                                <input type="radio" id="stars{{star}}" name="rating" type="" ng-value={{star}} ng-model="mycomment.rating">{{star}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': commentForm.comment.$error.required && !commentForm.comment.$pristine}">
                        <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="12" name="comment"
                                ng-model="mycomment.comment" required>
                            </textarea>
                            <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Your Comments are required</span>
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Post Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
